In [1]:
import geocoder # import geocoder
import pandas as pd
import numpy as np
print('Module sucessfully imported')

Module sucessfully imported

In [2]:
df = pd.read_csv('Toronto_db.csv')
df.drop(columns=['Unnamed: 0'],inplace = True)
df.head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [17]:
#Define get_latlng function to get geospatial location from arcgis (since google is not working)
def get_latlng(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords

In [27]:
Postal = df['Postalcode'].tolist()
coords = [ get_latlng(postal_code) for postal_code in Postal ]

In [35]:
lat = list()
long = list()
for co in coords:
    lat.append(co[0])
    long.append(co[1])
#inser lat long into df
df['Latitude'] = lat
df['Longtitude'] = long

In [36]:
df.head()

,Postalcode,Borough,Neighborhood,Latitude,Longtitude
0,M1B,Scarborough,"Malvern, Rouge",43.808626,-79.189913
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.785779,-79.157368
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.765806,-79.185284
3,M1G,Scarborough,Woburn,43.771545,-79.218135
4,M1H,Scarborough,Cedarbrae,43.768791,-79.238813

In [38]:
df.to_csv('Toronto_dbWithCo.csv')